@import 'src/styles/variables';

input {
  /*color: $black;
  background: #f9f9f9 !*url(../../../public/search.svg)*! left no-repeat;*/
  background-color: $black;
  color: $white;
  border-radius: $border-radius;

  word-break: keep-all;
  white-space: nowrap;
  margin: 0 15px;
  overflow: scroll;
  max-width: 230px;
  font-size: 15px;
  background-size: 21px;
  background-position: 6px;
  padding: 2px 2px 2px 29px;
  //animation: mmm 1s reverse;
  -webkit-transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  -moz-transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  -o-transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  -ms-transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  transition: all 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  transition-duration: 0.4s;

  &::placeholder{
    color: $white
  }
  &:focus{
    background-color: $black;
    color: $white;
    cursor: auto;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.35);
    border-bottom: none;
    border-top: none;
    border-right: $orange solid 10px;
    border-left: $orange solid 10px;
    &::placeholder{
      color: $white;
      opacity: 1;
    }
  }
}