$black: #232323;
$background: #ffdf8c;
/*$background: #232323;*/

$gray-line: #f6f6f6;
$gray: #b6b6b6;
$white: #fff;
$orange: #ff4900;

$icon-block-size: 60px;
$container-width: 90%;
$border-radius: 8px;

$duration: 0.15s;
