$black: #000;
$background: #F1CE9D;

$gray-line: #f6f6f6;
$white: #fff;
$gray: #939393;

$accent-color: #ff4900;
$main-color1: #fff;
$main-color2: #000;

$icon-block-size: 60px;
$border-radius: 10px;

$duration: 0.15s;
