//$black: #232323;
$black: #000;
$background: #F1CE9D;
/*$background: #000000;*/
/*$background: #ffd890;*/

$gray-line: #f6f6f6;
$gray: #ff7777;
$gray1: #ffffff;
$white: #fff;
$orange: #ff4900;

$icon-block-size: 60px;
$container-width: 100%;
$border-radius: 0px;

$duration: 0.15s;
