@use "sass:math";

@function sqrt($r) {
  $x0: 1; // initial value
  $solution: false;

  @for $i from 1 through 10 {
    @if (abs(2 * $x0)) < 0.00000000000001 {
      $solution: false;
    }
    $x1: $x0 - math.div($x0 * $x0 - abs($r), 2 * $x0) !global;

    @if math.div(abs($x1 - $x0), abs($x1)) < 0.0000001 {
      $solution: true;
    }
    $x0: $x1;
  }

  @if $solution == true {
    @if $r < 0 {
      @return $x0 #{i};
    } @else {
      @return $x0;
    }
  } @else {
    @return 'No solution';
  }
}
