@import "react-responsive-carousel/lib/styles/carousel.min.css";
@import url(react-responsive-carousel/lib/styles/carousel.min.css);
@import "src/styles/variables";

.phone-landing {
  //border-left: solid $orange 20px;
  //border-right: solid $orange 20px;
  //border-bottom: solid $orange 20px;


  //overflow: hidden;

  & > img {
    height: 40px;
    background-repeat: repeat;
  }

  & img[id="carousel"] {
    object-fit: cover;
    /*height: 100%;
    width: 100%;*/
    width: 200px;
  }
}

.popo {
  position: relative;
  overflow: visible;
  width: 100vw;

}

.top_border_images {
  position: absolute;
  bottom: 0;
  z-index: 1;
  //margin-bottom: -5px;
  display: flex;
  flex-direction: row;
  height: 40px;
  width: inherit;

  img {
    width: 100%;
  }
}

.hot-deal {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  height: 300px;

  button {
    background-color: #ff4900;
    color: #f9f9f9;
    padding: 9px;
  }
}

.omg {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  padding: 7px;

  * {
    color: white;
  }
}

.sale-price h1 {
  display: inline-block;
  background-color: black;
  //text-decoration: line-through;
}

.strikethrough {
  position: relative;
  color: white;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 45%;
  right: 0;
  width: 120%;
  border-top: 5px solid;
  color: red;
  border-color: inherit;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.strikethrough:after {
  position: absolute;
  content: "";
  left: -10%;
  top: 45%;
  width: 120%;
  border-top: 5px solid;
  color: red;
  border-color: inherit;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.new-price {
  color: #b2d95a;
}
.hot-deals-title{
  font-size: 20px;
  background-color: black;
  color: white;
}