@import "../../../styles/variables";

.lading-wrapper {
  width: 100vw;
  height: 100vh;

  &-main-content {
    width: 100%;
    column-gap: 30px;
    height: calc(100vh - 80px - 99.5px);
    padding: 50px;
    //background: url("/image1.jpg");
    background-image: radial-gradient(#98150E 0.45px, transparent 0.45px), radial-gradient(#98150E 0.45px, #F1CE9D 0.45px);
    background-size: 18px 18px;
    background-position: 0 0, 9px 9px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;


    .landing {
      display: flex;
      border-radius: 20px;
      position: relative;
      width: 100%;
      height: 100%;
      /*background-image: radial-gradient(#98150E 0.45px, transparent 0.45px), radial-gradient(#98150E 0.45px, #F1CE9D 0.45px);
      background-size: 18px 18px;
      background-position: 0 0, 9px 9px;*/
      background: url("/image1.jpg");
      padding: 30px;
      background-position: 30%, 0;
      background-size: cover;
      //background-size: contain;
      background-repeat: no-repeat;

      &-block-1 {
        & * {
          color: white;
        }


        & button {
          width: 100%;
          height: 7vw;
          //position: absolute;
          bottom: -25px;
          left: 18px;
          background-color: $orange;
          font-weight: 900;
          font-size: 17px;
          padding: 10px;
          border: solid 3px white;
        }

        border-radius: 20px;
        margin: auto;
        padding: 40px;
        height: fit-content;
        background-color: #181413d9;

        width: 50%;
      }

      &-block-2 {
        //background: linear-gradient(180deg, rgba(45,255,166,0) 0%, rgba(0,0,0,1) 100%);
        //background-size: 100% auto;
      }

      &-header {
        position: relative;

      }

      &-buy-block {
        width: 100%;
        & img {
          width: 7vw;
          height: 7vw;
        }
        display: flex;flex-direction: row;
      }
    }

    .side-header {

    }
  }

}

@media (max-width: 1440px) {
  .wrapper {
    justify-content: space-around;
    align-items: center;
  }
  .landing {
    background-size: unset;
    background-clip: border-box;
    background-position: 0% 0%;
    position: relative;
    width: 1186px;
  }
  .landing-block-1 {
    margin: unset !important;
  }
  .landing-block-1 {
    position: absolute;
  }
}