@import "../../../../styles/variables";
$burger-size: 47px;
.burger-open-button {
  background-color: black;
  height: $burger-size;
  width: $burger-size;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: $burger-size/9 0;

  div {
    width: ($burger-size * 0.59);
    height: $burger-size/15;
    background-color: #f9f9f9;
  }
}

.make-burger-middle {
  //background-color: #ff4900;
  border-radius: $border-radius $border-radius 0 0!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scale-down-center {
  transform: scale(1);
  transition: all 1s;
  animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.scale-center-down {
  transform: scale(0.5);
  transition: all 1s;
  animation: scale-center-down 0.4s linear forwards;
}

@-webkit-keyframes scale-center-down {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-center-down {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.spin {
  transition: all 1s;
  animation: scale-down-center 0.4s linear forwards, spin-360-at-the-same 0.4s linear forwards infinite;
}

@-webkit-keyframes spin-360-at-the-same {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes spin-360-at-the-same {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.burger-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  height: auto;
  width: max-content;
  //background-color: #ff7777;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: white;
  //background-color: #F1CE9D;
  //opacity: 1;
  //background-image: radial-gradient(#98150E 0.45px, transparent 0.45px), radial-gradient(#98150E 0.45px, #F1CE9D 0.45px);
  //background-size: 18px 18px;
  //background-position: 0 0, 9px 9px;

  &-opened {
    position: absolute;
    border: solid 2px black
  }

  &-closed {

  }
}
.nav-to-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hover {
  width: 100%;
  //padding: 0 5px;

  border-radius: 0;

  div:hover {
    animation: blink-1 0.6s both;
  }
//  // // // // // //
  display: flex;
  justify-content: space-between;
}
.verticalLine {
  border-left: 4px solid #ff4242;
  height: 100%;
  margin-left: -3px;
  top: 0;
}

.burger-container {
  * {
    border-radius: $border-radius;
  }

  position: relative;
}
.burger-menu{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: black;
  padding: 11px;
  $burger-menu-size: 135;
  position: absolute;
  top: $burger-size;
  //left: ;
  //padding: 5px;
  border-radius: $border-radius;
  width: $burger-menu-size;

  *{
    text-align: right;
  }
}

@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@media (max-width: 546px) {
  .opened-burger-menu {
    left: 0;
  }

}

















