@import "../../../styles/variables";

.header-point {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 4px;
  cursor: pointer;
  border-radius: 0;
}

.header-point-to-page {
  color: white;
  background-color: $orange;
}

.header-point-to-footer {
  width: 100%;
  color: black;
  background-color: white;
}