@import "../../../styles/variables";

.header-point {
  display: flex;
  justify-content: flex-end;
  border-right: white solid 2px;
  padding: 4px;
  cursor: pointer;
  border-radius: 0;
}

.header-point-to-page {
  color: white;
  background-color: $accent-color;
}

.header-point-to-footer {
  width: 100%;
  //color: black;
  color: white;
  background-color: black;
  //background-color: white;
}